@import "./colors.css";
.main-container{
    background-color: var(--grey);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.employee-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1226px;
    border-radius: 18px;
    background-color: var(--white);
    
}
.all-rest-container{
    display: flex;
    flex-direction: column;
}
   
.input-name-sirname{
    width: 407px;
    height: 60px;
    border: 1.8px solid var(--sky);
    border-radius: 8px;
    color: var(--placeholder-gray);
    font-size: 16px;
    outline: none;
    padding: 19px 16px;
   
}
.name-sirname{
    display: flex;
    flex-direction: column;
    padding:0 24px;
    margin-top: 88px;
    margin-bottom: 36px;
    
}


.name-sir-container :nth-child(1){
    margin-right: 15px;
}
.name-sir-container{
    display: flex;
}
    
.team-container{
   
    padding:0 24px;
    margin-bottom: 45px;
}
.label{
    font-style: Medium;
    font-size: 18px;
    line-height: 21px;
    color: var(--dark-black);
    margin-bottom: 8px;
    margin-top: 8px;
  
    
}
::placeholder{
    font-style: Regular;
    font-size: 16px;
    line-height: 21px;
    color: var(--placeholder-gray);
    
}
.hint{
    font-style: Light;
    font-size: 14px;
    line-height: 21px;
    color: var(--light-black);
    margin-bottom: 8px;
    margin-top: 8px;
}
.select-form{
    width: 878px;
    height: 60px;
    background-color: var(--grey-select);
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: black;
    border: none;
    outline: none;
    border-radius: 8px;
    padding: 19px 16px;
    
 
  
}
.error-select{
    
        width: 878px;
        height: 60px;
        background-color: var(--grey-select);
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: black;
        border: 2px solid red;
        outline: none;
        border-radius: 8px;
        padding: 19px 16px;
        
     
      
 
}
.red-hint{
    color: red;
}

.email-container{
    display: flex;
    flex-direction: column;
    padding: 0 24px;
    margin-bottom: 32px;
    
}
.phone-container{
    display: flex;
    flex-direction: column;
    padding: 0 24px;
   
    margin-bottom: 87px;
}
.input-email-number{
    width: 878px;
    height: 60px;
    border-radius: 8px;
    outline: none;
    border: 1.8px solid var(--sky);
    font-size: 16px;
    line-height: 21px;
    color: var(--placeholder-gray);
    padding: 19px 16px;
}
.next-button{
    width: 176px;
    height: 60px;
    background-color: var(--blue);
    outline: none;
    border: none;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    line-height: 24.42px;
    font-weight: 500;
    cursor: pointer;
   
}
.button-div{
   
    display: flex;
    justify-content: flex-end;
    margin-bottom: 111px;
}
.header-1{
    text-decoration: none;
    color: var(--dark-black);
    font-weight: 700;
    font-size: 20px;
    line-height: 24.42px;
    padding-bottom: 15px;
   
}
.header-2{
    text-decoration: none;
    color: var(--dark-black);
    font-weight: 700;
    font-size: 20px;
    line-height: 24.42px;
    padding-bottom: 15px;
}
.mobile-header-container{
   
    display: none;
}
.header-desktop{
    display: flex;
}
.span-page{
    color: var(--page-span);
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
}

.mob-hint{
    font-style: Light;
    font-size: 14px;
    line-height: 21px;
    color: var(--light-black);
    margin-bottom: 8px;
    margin-top: 8px;
    display: none;

}
.none-hint{
    font-style: Light;
    font-size: 14px;
    line-height: 21px;
    color: var(--light-black);
    margin-bottom: 8px;
    margin-top: 8px;
}
.error-message{
    color: red;
}


@media(max-width:390px){
    .mobile-header-container{
        display: block;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .div-headers{
        margin-top: 31px;
        margin-bottom: 8px;
    }
    .div-headers :nth-child(1){
        margin-right:0;
    }
   .header-desktop{
    display: none;
   }
    .employee-container{
        width: 380px;
       
    }
  .name-sir-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 380px;
       
        
      
    }
   
    .name-sir-container :nth-child(1){
        margin-top: 30px;
        margin-bottom: 8px;
        margin-right: 0;
       
    
    }
    .name-sir-container :nth-child(2){
     
        margin-top:0;
      
        
    }
    .input-name-sirname{
     width: 358px;
    }
    .label{
        width: 358px;
    }
   
    .team-container{
        width:358px;
    }
    .select-form{
        width: 358px;
    }
    .input-email-number{
       width: 358px;
    }
    .next-button{
        width: 132px;
        height: 46px;
    }
    .button-div{
        width: 380px;
        margin-bottom: 66px;
    }
    .next-button{
        margin-right: 16px;
    }
   .none-hint{
    display: none;
   }
   .mob-hint{
    display: block;
   }
 
 
}

